/* -----Google Fonts----- */
/* "Shadows Into Light" - Headings */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* "Dosis" - Text */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dosis:wght@200..800&family=Shadows+Into+Light&display=swap');

/* -----Colour Pallet----- */
/*
Base Green - #3F6264
Dark Green - #182526
Light Green - #C0D6D8

Base Gold - #BFA21C
Dark Gold - #352D08
Light Gold - #F1E4A7

Off-white - #FAF9F6
Off-Black - #343434

Light Grey - #D3D3D3
Dark Grey - #A9A9A9
*/

/* -----Base Styles----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----Custom Scrollbar----- */
::-webkit-scrollbar {
    background-color: #352D08;
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #BFA21C), color-stop(1, #F1E4A7));
    transition: all 0.2ss ease;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.5, #BFA21C), color-stop(1, #F1E4A7));
}

/* -----Navbar----- */
nav {
    background-color: #3F6264;
    font-family: "Shadows Into Light", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-link {
    color: #BFA21C;
    transition: all 0.2s ease;
    background: linear-gradient(to top, #BFA21C 25%, #F1E4A7 100%); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

.nav-link:hover {
    transform: scale(1.1);
    color: #BFA21C;
    background: linear-gradient(to bottom, #BFA21C 25%, #F1E4A7 100%); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

.navbar-toggler {
    color: #F1E4A7;
    border: 2px solid #BFA21C;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28191, 162, 28, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* -----Footer Content----- */
#footer {
    background-color: #3F6264;
    font-family: "Dosis", sans-serif;
    color: #000;
}

#footer i {
    color: #BFA21C;
    transition: all 0.2s ease;
    background: linear-gradient(to top, #BFA21C 50%, #F1E4A7 100%); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

#footer i:hover {
    transform: scale(1.1);
    color: #BFA21C;
    background: linear-gradient(to bottom, #BFA21C 25%, #F1E4A7 100%); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

#footer #arrow-right {
    color: #000;
    transition: none;
    transform: none;
}

/* -----Home Content----- */
#home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/wh-emmawave.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    font-family: "Dosis", sans-serif;
}

.content h1, h2 {
    font-family: "Shadows Into Light", sans-serif;
    transition: all 0.2s ease;
    text-shadow: 4px 4px 4px #000;
}

.content p {
    transition: all 0.2s ease;
    text-shadow: 4px 4px 4px #000;
}

.content h1:hover, h2:hover {
    transform: scale(1.05);
}

.content p:hover {
    transform: scale(1.05);
}

/* -----About Content----- */
#about {
    background-color: #3F6264;
    width: 100%;
    height: 100%;
    font-family: "Dosis", sans-serif;
}

#about h1 {
    letter-spacing: 2px;
}

.about-img {
    border-radius: 10px;
    height: 500px;
    width: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
}

/* -----Menu Content----- */
#menu {
    background-color: #C0D6D8;
    width: 100%;
    height: 100%;
    font-family: "Dosis", sans-serif;
    color: #000;
}

#menu h1 {
    letter-spacing: 2px;
}

.carousel-item img {
    height: 650px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#pdf-btn {
    background-color: #BFA21C;
    transition: all 0.2s ease;
}

#pdf-btn:hover {
    background-color: #F1E4A7;
    color: #000 !important;
}

#menu i {
    color: #BFA21C;
    transition: all 0.2s ease;
}

#menu i:hover {
    transform: scale(1.1);
}

/* -----Gallery Page----- */
#gallery {
    background-color: #C0D6D8;
    width: 100%;
    height: 100%;
    font-family: "Dosis", sans-serif;
}

#gallery h1 {
    color: #000;
    letter-spacing: 2px;
}

#gallery img {
    border-radius: 10px;
}

/* -----Contact Page----- */
#contact-1 {
    font-family: "Dosis", sans-serif;
    height: 100%;
    width: 100%;
    background-color: #3F6264;
}

#contact-1 h1 {
    letter-spacing: 2px;
}

#contact-1 i {
    color: #FFF;
    transition: all 0.2s ease;
    background-color: #C0D6D8; 
    border-radius: 50%;    
    display: flex;
    align-items: center;   
    justify-content: center; 
    width: 50px;           
    height: 50px;          
    padding: 10px;         
    transform: scale(1.5);
}

#contact-1 i:hover {
    transform: scale(1.1);
}

.icon-text-container {
    display: flex;         
    flex-direction: column; 
    align-items: center;   
    text-align: center;    
}

.icon-text-container h2 {
    font-family: "Dosis", sans-serif;
    text-shadow: none;
    font-weight: bolder;
    text-decoration: underline;
}

#contact-2 {
    font-family: "Dosis", sans-serif;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/coffeehero4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#contact-2 h1 {
    letter-spacing: 2px;
}

#name, #email, #subject, #message {
    border: 4px solid #BFA21C;
}

#send-msg {
    background-color: #BFA21C;
    transition: all 0.2s ease;
}

#send-msg:hover {
    background-color: #F1E4A7;
    color: #000 !important;
}



