/* -----Google Fonts----- */
/* "Shadows Into Light" - Headings */ @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* "Dosis" - Text */ @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dosis:wght@200..800&family=Shadows+Into+Light&display=swap');

/* -----Colour Pallet----- */
/*
Base Green - #3F6264
Dark Green - #182526
Light Green - #C0D6D8

Base Gold - #BFA21C
Dark Gold - #352D08
Light Gold - #F1E4A7

Off-white - #FAF9F6
Off-Black - #343434

Light Grey - #D3D3D3
Dark Grey - #A9A9A9
*/

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    background-color: #000;
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #BFA21C), color-stop(1, #F1E4A7));
    border-radius: 10px;
}

/* Navbar */
